@import __fonts
@import __normalize
@import __style

body
    max-width: 100vw
    min-width: 280px
    background: linear-gradient(104.45deg, #FDCE7D 20.48%, #AF7039 58.59%, #AF7039 64.38%, #FDCE7D 100%)
    max-width: 100%
    margin: 0
    font-family: 'Rotonda', 'Arial', 'Sans-Serif'
    display: flex
    flex-direction: column
    @media screen and ( max-width: 768px )        
        background: linear-gradient(90deg, #FDCE7D 20.48%, #AF7039 58.59%, #AF7039 64.38%, #FDCE7D 100%)
.container
    max-width: 1440px
    padding: 0 242px
    margin: 0 auto
    @media screen and ( max-width: 1200px )
        padding: 0 100px
    @media screen and ( max-width: 1050px )
        padding: 0 100px
    @media screen and ( max-width: 991px )
        padding: 0 80px
    @media screen and ( max-width: 768px )
        padding: 0 20px
   
    